/* mobile */
@media (max-width: 739px) {
    .hiden-on-mobile{
        display: none;
    }
}
/* tablet */
@media (min-width: 739px) and (max-width: 1023px){
    .home-filter{display: none;}    
    .hiden-on-tablet{
        display: none;
    }
}
/* mobile and tablet */
@media (max-width: 1023px) {

    .header{
        height: 100px;
    }
    .header__search{
        display: none;
    }
    .header__navbar{
        display: none;
    }
}